body{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background-color: aquamarine;
    margin: 0;

}
.conteiner{
    display: flex;
    justify-content: center;
}
photo-box{
    position:relative;
    width: 300px;
    height: 200px;
    overflow:hidden ;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(red, green, blue, alpha);
}
.photo-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text-overlay{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: darkslategrey;
    font-size: 24px;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 20px;
}